@model IEnumerable<EmpresaUTN.Modelos.Restaurante>

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurantes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoRestaurante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoRestaurante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.CodigoRestaurante }) |
                    @Html.ActionLink("Details", "Details", new { Id = item.CodigoRestaurante }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = item.CodigoRestaurante })
            </td>
        </tr>
}
    </tbody>
</table>
